
/*general settings*/

body,p,a,span,ul,h5 {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    max-width: 500px;
    min-width: 320px;
    max-height: 650px;
    background-image: url("../pic/background.png");
    background-size: 100%;
}

@media (min-width: 500px) {
    body {
        margin: 0 auto;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*nav bar*/

.container {
    position: relative;
    margin: 1.2em 0;
}

.progress {
    padding-left: 1.2em;
    width: 90%;
    position: relative;
}

.select {
    height: 1.5em;
    position: absolute;
    bottom: 1.0em;
    border: 0;
    vertical-align: middle;
}

@media (min-width: 450px) {
    .select {
        height: 1.8em;
    }
}

@media (max-width: 450px) {
    .select {
        bottom: 1.0em;
    }
}

@media (max-width: 430px) {
    .select {
        bottom: 0.9em;
    }
}

@media (max-width: 400px) {
    .select {
        bottom: 0.8em;
    }
}

@media (max-width: 350px) {
    .select {
        bottom: 0.7em;
    }
}

@media (max-width: 320px) {
    .select {
        bottom: 0.6em;
    }
}

.select01 {
    left: 12%;
}

.select02 {
    left: 35%;
}

.select03 {
    left: 58%;
}

.select04 {
    left: 81%;
}

/*main part*/


.orderTable {
    width: 90%;
    margin: 0 1.2em 5em;
    color: #757a7a;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #cccccc;
    -moz-box-shadow: 1px 1px 5px #cccccc;
    -webkit-box-shadow: 1px 1px 5px #cccccc;
}

.orderTable>li {
    height: 2.2em;
    max-height: 2.2em;
    overflow-y: hidden;
}

.orderTable>li>p {
    padding: 0.6em 0.2em 0.6em 1.1em;
    display: inline-block;
}

.symbol {
    height: 1.1em;
    vertical-align: middle;
}

.counter {
    padding: 0.05em 0.5em;
    border-radius: 30px;
    background-color: #ffffff;
    border: 1px #79cdcd solid;
}

.price {
    display: inline-block;
    float: right;
    padding: 0.6em;
}

@media (max-width: 340px) {
    .price {
        padding: 0.6em 0.2em;
    }
}

.arrow {
    height: 1em;
    float: right;
    padding: 0.6em 1em;
    background-color: white;
}

.price>span {
    color: #999999;
    font-size: 0.9em;
    text-decoration: line-through;
}

#tableTop {
    text-align: center;
    height: 2.4em;
    font-size: 1.2em;
    color: white;
    background-color: #79cdcd;
    border-radius: 5px 5px 0 0;
}

#tableTop>p {
    padding: 0.6em 0;
}

#tableTop>img {
    height: 1em;
    padding: 0.6em 0.5em;
    display: inline-block;
    vertical-align: middle;
}

.s1 {
    background-color: #c9ebeb;
    border: 1px #c9ebeb solid;
    border-left: hidden;
    border-right: hidden;
}

.s2 {
    background-color: white;
}

#tableBottom {
    height: 3.6em;
    max-height: 3.6em;
    overflow-y: hidden;
}

#tableBottom>p {
    padding: 1.3em 1.2em;
    border-radius: 0 0 5px 5px;
}

#tableBottom>img {
    padding: 1.3em 1em;
}


/*footer*/

.footBar {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.msg {
    margin-bottom: 1em;
}

.msg>p {
    font-size: 0.8em;
    color: #999999;
    margin-bottom: 0.5em;
}

.nextStep {
    height: 3.6em;
    background-color: #79cdcd;
    width: 100%;
}

.nextStep>img {
    height: 1.3em;
    margin-top: 0.3em;
}

.nextStep>p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

/*adjustment*/


@media (max-height: 580px) {
    .msg {
        display: none;
    }
}

@media (max-width: 480px) {
    .orderTable p,span {
        font-size: 0.8em;
    }
    #tableTop img {
        height: 0.8em;
    }
}

.optionName {
    width: 6em;
    max-width: 6em;
}


/*delete alert*/

.deleteAlert {
    height: 130px;
    width: 200px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    display: none;
    z-index: 1000;
}

.deleteAlert>div {
    position: relative;
    height: 100%;
    width: 100%;
}

.deleteMsg {
    padding: 20%;
    color: #757a7a;
}

.deleteBtn {
    position: absolute;
    color: #79cdcd;
    display: inline-block;
    border: 1px #79cdcd solid;
    bottom: 0;
    padding: 0.5em 0;
    width: 50%;
    border-bottom: hidden;
}

.deleteBtnLeft {
    left: 0;
    border-left: hidden;
}

.deleteBtnRight {
    right: 0;
    border-left: hidden;
    border-right: hidden;
}




/*mask*/

#mask {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    z-index: 999;
    display: none;
}


/*details of item*/


.detail {
    width: 90%;
    margin: 1.2em;
    position: absolute;
    z-index: 998;
    background-color: white;
    max-width: 450px;
    min-width: 288px;
    overflow-x: hidden;
    border-radius: 5px;
    display: none;
}

#detail {
    top: 35%;
}

#comboDetail {
    top: 15%;
}


.comboTitle {
    text-align: center;
    padding-top: 1em;
}

.comboTitle>h4 {
    margin: 0;
    padding-bottom: 1em;
}

.sale {
    font-size: 7px;
    height: 7px;
    position: absolute;
    top: 2em;
    left: 65%;
    color: red;
}

.item {
    width: 8em;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 300;
}

.money {
    display: inline-block;
    font-weight: 300;
}


.oldPrice {
    text-decoration: line-through;
}

.newPrice {
    color: red;
}




.unit {
    margin: 1.2em;
    display: block;
    padding: 0.5em 0;
}

.unit>img {
    height: 100px;
    float: left;
    vertical-align: bottom;
    padding: 0;
}

.unit>p {
    padding: 0 0 0 10px;
    width: 70%;
    max-width: 70%;
    display: inline-block;
    color: #757a7a;
    margin-bottom: 0.2em;
    font-size: 0.7em;
}

#unitTitle {
    font-size: 1em;
    height: 1.2em;
}

#unitMsg {
    font-size: 7px;
    margin: 0;
}

#unitMsg>a {
    color: blue;
}


@media (max-width: 480px) {
    .unit>p {
        max-height: 4em;
        width: 70%;
        max-width: 70%;
        font-size: 0.6em;
    }
    .unit>img {
        height: 80px;
        padding: 0.4em 0;
    }
    #unitTitle {
        font-size: 0.8em;
    }
}

@media (max-width: 380px) {
    .unit>p {
        width: 65%;
        max-width: 65%;
    }
}


@media (max-width: 340px) {
    .unit>p {
        width: 60%;
        max-width: 60%;
    }
    .unit>img {
        padding: 0.5em 0;
    }
}

.unitPrice {
    text-align: center;
    color: #79cdcd;
    padding: 0;
    margin: 0;
}


.closeMask {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    display: none;
    z-index: 997;
}

.closeMask>img {
    height: 2em;
    right: 5%;
    top: 5%;
    position: absolute;
    z-index: 997;
}


/*self select*/

.selfBox {
    top: 20%;
    width: 90%;
    margin: 1.2em;
    position: absolute;
    z-index: 998;
    background-color: white;
    max-width: 450px;
    min-width: 288px;
    overflow-x: hidden;
    border-radius: 5px 5px 0 0;
    height: 40%;
    max-height: 40%;
    overflow-y: auto;
    display: none;
}


.selfTitle {
    padding: 0.8em 0 0.2em 1.2em;
    color: #757a7a;
    font-weight: 700;
}

.selfMenu>li {
    margin: 0.5em 0;
    height: 1.2em;
}

.s2>div {
    height: 1.2em;
    background-color: #f2f2f2;
}

.selfCounter>p {
    float: left;
    padding: 0.1em 1.2em;
    color: #757a7a;
}

.selfCounter>div {
    float: right;
    margin-right: 1.2em;
}

.selfBtn {
    top: 60%;
    width: 90%;
    margin: 1.2em;
    position: absolute;
    z-index: 998;
    background-color: white;
    max-width: 450px;
    min-width: 288px;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;
    height: 12%;
    text-align: center;
    display: none;
}


.selfBtn>p {
    padding: 0.5em;
    color: #757a7a;
}

.selfBtn>div {
    height: 2.4em;
    width: 50%;
    margin: auto;
    background-color: #79cdcd;
    border-radius: 5px;
}

.selfBtn>div>p {
    color: white;
    font-size: 1.2em;
    padding: 0.6em;
}





